/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
*{
    margin: 0;
    padding: 0;
}
.width{
    width: 1600px;
}
body{
    max-width: 1600px;
}
.display-flex{
    display: flex;
}
/* primary color FFFFFF */
.text-white{
    color: #FFFFFF;

}
/* green color 00FF88 */
.text-green{
    color: #00FF88;
}


/* Header styles  */
/* Navbar related styles */
.navbar{
    background-color: #412567;
    height: 92px;
    justify-content: flex;
    align-items: center;
}
.navbar .logo{
    padding: 30px 0 30px 200px;


}
.menu{
    padding: 0px 314px;
}
.nav-item {
    list-style: none;
    padding-right: 32px;

}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    

}
.btn button{
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    border-radius: 10000px;
    padding: 12.5px 16px;
    border: 0;
    
}





